@model WebBanDungCu.SANPHAM
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/single_responsive.css">

@*<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">*@

@if (Model != null)
{
    <div class="container single_product_container">
        <div class="row">
            <div class="col">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/danh-muc-san-pham/@Model.LOAI.ALIAS-@Model.LOAI.MALOAI"><i class="fa fa-angle-right" aria-hidden="true"></i>@Model.LOAI.TENLOAI</a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Single Product</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-7">
                <div class="single_product_pics">
                    <div class="row">
                        @*<div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                                <div class="single_product_thumbnails">
                                    <ul>
                                        <li><img src="images/single_1_thumb.jpg" alt="" data-image="images/single_1.jpg"></li>
                                        <li class="active"><img src="images/single_2_thumb.jpg" alt="" data-image="images/single_2.jpg"></li>
                                        <li><img src="images/single_3_thumb.jpg" alt="" data-image="images/single_3.jpg"></li>
                                    </ul>
                                </div>
                            </div>*@
                        <div class="col-lg-9">


                            <div> <img src="~/img/img_product/@Model.IMG" alt="Alternate Text" width="500" /></div>



                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="product_details">
                    <div class="product_details_title">
                        <h2>@Model.TENSP</h2>
                        <p>@Model.MOTA</p>
                    </div>
                    <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                        <span class="ti-truck"></span><span>free delivery</span>
                    </div>
                    @* <div class="original_price"></div>*@
                    <div class="product_price">@WebBanDungCu.Common.FormatNumber(Model.GIA, 0)</div>
                    <ul class="star_rating">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                    </ul>
                    <div class="product_color">
                        <span>Select Color:</span>
                        <ul>
                            <li style="background: #e54e5d"></li>
                            <li style="background: #252525"></li>
                            <li style="background: #60b3f3"></li>
                        </ul>
                    </div>
                    <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                        <span>Quantity:</span>
                        <div class="quantity_selector">
                            <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <span id="quantity_value">1</span>
                            <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@Model.ID">ADD TO CART</a></div>
                        <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}


@section scripts{
    <script src="~/Content/assets/js/single_custom.js"></script>
}